@model IEnumerable<C4FAMS.Models.CongViec>

<h1>Danh sách Công việc</h1>

<p>
    <a asp-action="Create">Thêm Công việc mới</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Cựu Sinh viên</th>
            <th>Vị trí</th>
            <th>Công ty</th>
            <th>Lĩnh vực</th>
            <th>Thu nhập</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CuuSinhVien.SinhVien.HoTen</td>
                <td>@item.ViTri</td>
                <td>@item.CongTy</td>
                <td>@item.LinhVuc</td>
                <td>@item.ThuNhap</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaCongViec">Sửa</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaCongViec">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>