@model IEnumerable<C4FAMS.Models.ThongBao>

<h1>Danh sách Thông báo</h1>

<p>
    <a asp-action="Create">Thêm Thông báo mới</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Cựu Sinh viên</th>
            <th>Nội dung</th>
            <th>Ngày Gửi</th>
            <th>Trạng thái</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CuuSinhVien.SinhVien.HoTen</td>
                <td>@item.NoiDung</td>
                <td>@item.NgayGui.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@(item.TrangThai ? "Đã đọc" : "Chưa đọc")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaThongBao">Sửa</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaThongBao">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>