@model IEnumerable<C4FAMS.Models.SuKien>

<h1>Danh sách Sự kiện</h1>

<p>
    <a asp-action="Create">Thêm Sự kiện mới</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Tên Sự Kiện</th>
            <th>Ngày Tổ Chức</th>
            <th>Địa Điểm</th>
            <th>Khoa</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TenSuKien</td>
                <td>@item.NgayToChuc.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@item.DiaDiem</td>
                <td>@item.Khoa.TenKhoa</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaSuKien">Sửa</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaSuKien">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>